/* .container {
  background-image: url("../Imgs/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  background-attachment: fixed;
  overflow-x: hidden;
} */
